#searchSection {
  display: flex;
  justify-content: center;
  margin: 0 50px;
  & .search {
    max-width: 1280px;
    width: 100%;
    min-height: 60px;
    padding: 0 10px 0 10px;
    background: $back-color;
    color: $back-img;
    border-radius: 5px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-justify: space-between;
    justify-content: space-between;
    position: relative;
    overflow: hidden;
    .input-field {
      width: 90%;
      font-size: 16px;
      color: #333;
      background-color: transparent;
      border: 0;
      overflow: visible;
      outline: 0;
    }
    .btn-search {
      background: rgba(255, 255, 255, 0);
      border: 0;
      cursor: pointer;
      svg {
        width: 40px;
        height: 40px;
      }
    }
  }
}

/**************** Error control ****************/
.search[data-error]::after {
  content: attr(data-error);
  font-size: 2em;
  font-weight: 600;
  color: $error;
  display: block;
  margin-top: 40px;
  margin-left: 35px;
  font-size: 15px;
  text-align: left;
  transition: 0.3s;
  position: absolute;
}
.search[data-error-visible='true']::after {
  opacity: 1;
  margin-bottom: 5px;
}
.search[data-error-visible='true'] {
  border: 2px solid $error;
}
