/* ************************ TAGS LISTS ******************************** */
.tag {
  margin: 0px 60px;
  overflow: hidden;
  border-radius: 5px;
  display: inline-block;
  white-space: nowrap;
  width: 100%;
  position: absolute;
  z-index: 2;
  & .dropdown {
    float: left;
    overflow: hidden;
    font-size: 16px;
    margin: 20px;
    border: none;
    outline: none;
    border-radius: 5px;
    width: auto;
    &:hover {
      .row {
        display: block;
      }
      em {
        transform: rotate(-180deg);
        transition: 0.5s ease-in-out;
      }
    }
    & .dropdown-button {
      font-size: 16px;
      font-weight: bold;
      border: none;
      outline: none;
      padding: 14px 16px;
      background-color: inherit;
      width: 95%;
      height: 65px;
      color: $color;
      transition: all 1s ease-in-out;
      &::-webkit-input-placeholder {
        /* Chrome/Opera/Safari */
        color: $color;
      }
    }
    & em {
      position: absolute;
      margin: 13px 0 0 -10px;
      color: $color;
    }
    & .row {
      box-sizing: border-box;
      background-color: inherit;
      display: none;
      z-index: 1;
      opacity: 0;
      transition: all 1s ease-in-out;
      animation: rotateX 300ms 60ms ease-in-out forwards;
      transform-origin: top center;

      & .col {
        float: left;
        width: 33.33%;
        padding: 10px;
        line-height: 3px;
        display: flex;
        flex-flow: column nowrap;
        & li {
          float: none;
          color: white;
          padding: 10px;
          text-decoration: none;
          display: inline-block;
          text-align: left;
          white-space: nowrap;
        }
        & li:hover {
          font-weight: bolder;
          text-shadow: 2px 2px 2px black;
        }
      }
    }
  }
}
/* ************************ 3 DROPDOWN COLOR ******************************** */
#ingredients {
  background-color: $blue-tag;
}
#appareils {
  background-color: $green-tag;
}
#ustensils {
  background-color: $red-tag;
}

/* ************************ SELECTED TAGS ******************************** */
.selectedTag {
  margin: 20px 0 0 80px;
  color: $color;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  & span {
    height: 35px;
    padding: 5px 10px 5px 10px;
    border-radius: 5px;
    & em {
      margin-left: 10px;
      font-size: larger;
      cursor: pointer;
    }
  }
  & .ingTag {
    background-color: $blue-tag;
  }
  & .appTag {
    background-color: $green-tag;
  }
  & .ustTag {
    background-color: $red-tag;
  }
}

/* ************************ ANIMATION ******************************** */
@keyframes rotateX {
  0% {
    opacity: 0;
    transform: rotateX(-90deg);
  }
  50% {
    transform: rotateX(-20deg);
  }
  100% {
    opacity: 1;
    transform: rotateX(0deg);
  }
}
