body {
  margin: 0;
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  main {
    width: 100%;
  }
}

* {
  box-sizing: border-box;
}
/*:focus-visible {
    outline: 3px solid $color-pri-dark;
    border-radius: 10px;
  }*/
