/******************* COLORS ************************/
$back-color: #E7E7E7;
$back-img: #C7BEBE;
$blue-tag: #3282F7;
$green-tag: #68D9A4;
$red-tag: #ED6454;
$error: #D04F4F;


/******************* Sorter ************************/
$num-menu: 3;
$color:white;
$timing:.25s;